{% extends "base_generic.html" %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style> 
    input{ 
      width:75%; 
      padding: 12px; 
      }
    .nobr{ 
      white-space: nowrap 
      }
    {% comment %} ul{ 
      white-space:nowrap; 
      height: 1em;
      width: 100%;
      } 

    li{ 
      display:inline; 
      } {% endcomment %}
</style> 

<div class="col-sm-7">
  <h2>Search Book </h2> </div><hr/>
  <div class='nobr'>
    <form method='POST' action={% url 'dashboard' %} >
    {% csrf_token %}
      {% for field in search_form%}
      <div class="form-group row mt-4 ">
        <div class="col-sm-2 col-form-label">{{ field.label_tag }}</div>
          <div class="col-sm-7 ">
            {{field}}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
      </div>
    {% endfor %}
  
    <div class="button">
      <button type="submit" class="btn btn-info btn-block">Search</button>
    </div><hr/>
    </form>
  </div>
  <div>
    {% if search_query %}
      <div class="col-sm-7">
      <h2>Search Results </h2> </div><hr/>
      <ol>
      {% for book in search_query %}
        <li> {{ book }} </li>  <p> {{ book.seller}} </p>
      {% endfor %}
      </ol>
    
    {% comment %} {% elif search_query_other_seller %}
      <div class="col-sm-7">
      <h2>Search Results </h2> </div><hr/>
      <ol>
      {% for book in search_query_other_seller %}
        <li> {{ book }} </li> <p> {{ book.seller}} </p>
      {% endfor %}
      </ol> {% endcomment %}
    {% elif search_is_empty %}
      <p> Book not found </p> 
    {% endif %} 
  </div><hr/>
<div>  
  <div class="col-sm-7">
  <h2>Books in your Inventory </h2> </div><hr/>


  {% comment %} <ol>
  {% for book in bookseller %}
    <li> {{ book.title }} </li>
  {% endfor %}
  </ol> {% endcomment %}
    
    <!--Section: Products v.3-->
  <section class="text-center mb-4">
    <div class="row wow fadeIn">
    {% for book in page_obj %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="view overlay">
                {%comment%}<img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top" {%endcomment%}
          <img src="{{ book.cover_page.url }}" class="card-img-top">
          {% comment %} {{ book.cover_page.url }} {% endcomment %}
                {%comment%} <a href="{{ book.get_absolute_url }}"> {% endcomment%}
          </div>

          <div class="card-body text-center">
          <a href="" class="grey-text">
          <h5>{{ book.title }}</h5>
          </a>
            <h5>
              <strong>
                <a href="{{ book.get_absolute_url }}" class="dark-grey-text">{{ book.author}}
                      <span class="badge badge-pill {{ book.author }}-color"></span>
                  </a>
                </strong>
              </h5>

              

            </div>

          </div>

        </div>
          {% endfor %}
      </div>

  </section>
      <!--Section: Products v.3-->
      
      <!--Pagination-->
  {% comment %} <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
      {% endif %}

        <li class="page-item active">
          <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}
            <span class="sr-only">(current)</span>
          </a>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
    </span>
  </div> {% endcomment %}

{% comment %}   
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div> {% endcomment %}

  <div class="pagination justify-content-center">
    <span class="page-item">

      {% if page_obj.has_previous %}
        <p class="text-primary" style="text-align:center;" ><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></p>
      {% endif %}  <!-- request.path to get the current page URL for creating the pagination links.--> 
                
      {% if page_obj.has_next %}
        <p class="text-primary" style="text-align:center;"><a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a> </p>
      {% endif %}

      <span class="page-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
    </span>
  </div>
    
</div>

{% endblock %}