{% extends "base_generic.html" %}
{% block content %}


<div>
  
  {% if book_list %}
  <div>  
  <div class="col-sm-7">
  <h2>Books in your Inventory </h2> </div><hr/>


    <!--Section: Products v.3-->
  <section class="text-center mb-4">
    <div class="row wow fadeIn">
    {% for book in book_list %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="view overlay">
                
          {% comment %} <img src="{{ book.cover_page.url }}" class="card-img-top"> {% endcomment %}
          <img src="{{ book.cover_page.url }}" class="card-img-top">
          
                <!--<a href="{{ book.get_absolute_url }}"> -->
          </div>

          <div class="card-body text-center">
          <a href="" class="grey-text">
          <h5><a href="{% url 'book-detail' book.id %}">{{ book.title }}</h5>
          </a>
            <h5>
              <strong>
                {{ book.author}}
                  <span class="badge badge-pill {{ book.author }}-color"></span>
                </strong>
              </h5>

              

            </div>

          </div>

        </div>
          {% endfor %}
      </div>

  </section>
    {% comment %} {% for book in book_list %}
        <p class="text-info"><a href="{% url 'book-detail' book.id %}">{{ book.title }} ({{book.author}})</a> </p> <hr/>
      
        {% if perms.catalog.delete_book and perms.catalog.change_book %}
          <button class="btn btn-info btn-sm"><a href="{% url 'catalog:book_delete' book.id %}">Delete book</a>
          </button>
          <button class="btn btn-info btn-sm"><a href="{% url 'catalog:book_update' book.id %}">Update book</a>
          </button>
          <hr/>
        {% endif %} 
        
    {% endfor %}
   {% endcomment %}
  {% else %}
    <p>There are no books in the library.</p>
  {% endif %}

</div>  

{% comment %} 
<div>  
  <div class="col-sm-7">
  <h2>Books in your Inventory </h2> </div><hr/>


    <!--Section: Products v.3-->
  <section class="text-center mb-4">
    <div class="row wow fadeIn">
    {% for book in page_obj %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="view overlay">
                
          <img src="{{ book.cover_page.url }}" class="card-img-top">
          
                <!--<a href="{{ book.get_absolute_url }}"> -->
          </div>

          <div class="card-body text-center">
          <a href="" class="grey-text">
          <h5>{{ book.title }}</h5>
          </a>
            <h5>
              <strong>
                <a href="{{ book.get_absolute_url }}" class="dark-grey-text">{{ book.author}}
                      <span class="badge badge-pill {{ book.author }}-color"></span>
                  </a>
                </strong>
              </h5>

              

            </div>

          </div>

        </div>
          {% endfor %}
      </div>

  </section>
   {% endcomment %}
    <div class="pagination justify-content-center">
    <span class="page-item">

      {% if page_obj.has_previous %}
        <p class="text-primary" style="text-align:center;" ><a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Previous</a></p>
      {% endif %}  <!-- request.path to get the current page URL for creating the pagination links.--> 
                
      {% if page_obj.has_next %}
        <p class="text-primary" style="text-align:center;"><a href="{{ request.path }}?page={{ page_obj.next_page_number }}">Next</a> </p>
      {% endif %}

      <span class="page-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
    </span>
  </div>
    
</div> 

{% endblock %}