{% extends "base_generic.html" %}
{% block content %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<style> 
    input{ 
      width:75%; 
      padding: 10px; 
      }
    .nobr{ 
      white-space: nowrap 
      }
    .button1 {
      padding: 11px 32px;
      width:20%;
    }
</style> 

<div class="col-sm-7"></div>
    <form method='POST' action=/dashboard/ >
     {% csrf_token %}
      <div class="w3-dropdown-hover w3-right">
            <label for="id_books_per_page">Books per page:</label>
            <select name="books_per_page" id="id_books_per_page">
              <option value="25">25</option>

              <option value="50">50</option>

              <option value="75">75</option>

            </select> 
      </div><br>
      <div class="form-group row mt-4 ">
      
      <div style="position:relative; left:10px;"class="col-sm-2.5 nobr"><h1>Book Search: </h1></div>
            <div class="col-sm-7">
            <input style="position:relative; left:10px; right:20px; top:10px; width:107%" class="input" type="text" name="keyword" required id="id_keyword">
            
            <button style="position:relative; left:670px; right:20px; top:-37px;" type="submit"  class="btn btn-info  button1">Search</button></div>
            
      </div>
      

        <div style="position:relative; left:197px; right:20px; bottom:35px;" class="col-sm-3 col-form-label"><label>Filters:</label></div>
          <div class="nobr">
            <ul id="id_checks">
    <label style="position:relative; left:220px; right:20px; bottom:70px;" class="col-sm-1" for="id_checks_0"><input type="checkbox" name="checks" value="isbn" id="id_checks_0">ISBN</label>

    <label style="position:relative; left:220px; right:20px; bottom:70px;" class="col-sm-1" for="id_checks_1"><input type="checkbox" name="checks" value="title" id="id_checks_1">Title</label>

    <label style="position:relative; left:220px; right:20px; bottom:70px;" class="col-sm-1" for="id_checks_2"><input type="checkbox" name="checks" value="author" id="id_checks_2">Author</label>

    <label style="position:relative; left:220px; right:20px; bottom:70px;" class="col-sm-1" for="id_checks_3"><input type="checkbox" name="checks" value="publisher" id="id_checks_3">Publisher</label>


</ul>
            
            
          </div>

</form>

  <div style="position:relative; bottom:75px;">
    {% if search_query %}
      <div class="col-sm-7">
      <hr/><h1>Search Results </h1> </div><hr/>
  <section class="text-center mb-4">
    <div class="row wow fadeIn">
    {% for book in page_obj %}
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
          <div class="view overlay">
                
          <img src="{{ book.cover_page.url }}" class="card-img-top">
          
                <!--<a href="{{ book.get_absolute_url }}"> -->
          </div>

          <div class="card-body text-center">
          <a href="" class="grey-text">
          <h5><a href="{% url 'book-detail' book.id %}">{{ book.title }}</h5>
          </a>
            <h5>
              <strong>
                {{ book.author}}
                  <span class="badge badge-pill {{ book.author }}-color"></span>
                </strong>
              </h5>

              

            </div>

          </div>

        </div>
          {% endfor %}
      </div>

  </section>
    {% elif search_is_empty %}
    <hr/><h1>Search Results </h1><hr/>
      <p> Book not found </p> 
    {% endif %} 
  </div>
{% if search_query %}
<div class="pagination justify-content-center">
    <span class="page-item">

      {% if page_obj.has_previous %}
        <button class="btn btn-info btn-block" type="submit" name ="page" value="{{ page_obj.previous_page_number }}">Previous</button><br>
      {% endif %}   
                
      {% if page_obj.has_next %}
        <button class="btn btn-info btn-block" type="submit" name ="page" value = "{{page_obj.next_page_number}}">Next</button><br>
      {% endif %}

      <span class="page-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
    </span>
  </div>
{%endif%}
</form>
    
</div> 
{% comment %} 
      {% if page_obj.has_previous == 0 %}
      <input type="hidden" name="page" value=1>
      {%endif%}
      {% if page_obj.has_next %}
      <input type="hidden" name="page" value={{page_obj.next_page_number}}>
        
      {% endif %}
      <button type="submit" class="text-primary" style="text-align:center;">Next</button>
  </form> {% endcomment %}

{% endblock %}